.venv/
.vscode/
.pdm-python
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
src/*.egg-info/
*.egg-info/
__pycache__/

# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

dist/
